.left {
  position: absolute;
  height: 50%;
  width: 50%;
  overflow: hidden;
}

.left > .table-a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.right {
  position: absolute;
  height: 50%;
  width: 50%;
  left: 50%;
  overflow: hidden;
}

.right > .table-b {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.rightbottom {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.rightbottom > .table-a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.verticalbox {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.verticaltext2 {
  height: 100%;
  width: 100%;
  display: block;
  writing-mode: vertical-rl;
  line-height: 21px;
  letter-spacing: 1.2px;
  overflow: hidden;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

td {
  height: auto;
  max-height: none;
}
